.labels-container {
  padding: 20px 10px 10px 20px;
  height: 100%;
  max-width: 100%;
  max-height: 274px;
  background-color: #fff;
  border: 1px solid black;
  border-radius: 4px;

  .title {
    font-size: 1.5em;
    text-align: left;
    margin-top: 0;
    margin-bottom: 10px;
  }
}
